<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="oag_blog_api_data_postinterface_save_after">
        <observer name="oag_blog_post_process_url_rewrite_saving" instance="OAG\BlogUrlRewrite\Observer\PostProcessUrlRewriteSaving" />
    </event>
</config>
