<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="oag_blog">
            <group id="permalink" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Permalink Settings</label>
                <field id="route" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blog Route</label>
                    <validate>required-entry no-whitespace</validate>
                    <backend_model>OAG\BlogUrlRewrite\Model\System\Config\Backend\Url\Route</backend_model>
                    <comment>E.g.: "blog" will make the blog accessible from mystore.com/blog</comment>
                </field>
                <field id="url_sufix" translate="label comment" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Suffix</label>
                    <validate>required-entry no-whitespace</validate>
                    <backend_model>OAG\BlogUrlRewrite\Model\System\Config\Backend\Url\Suffix</backend_model>
                    <comment>E.g.: ".html" will make all blog pages accessible from mystore.com/{blog_route}/post-identifier.html or mystore.com/{blog_route}.html</comment>
                </field>
            </group>
        </section>
    </system>
</config>